<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
<title>Diane Szczepaniak | {{page_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Muli:300|Quicksand|Raleway:300" rel="stylesheet">
</head>

<body>
<div class="menu">
  <table>
    <tr>
      <td colspan="4" class="artist">
        <a href="index.html" target="_self">diane szczepaniak</a>
      </td>
    </tr>
    <tr>
      <td class="section{% if section == 'drawing' %} active-section{% endif %}"><a href="drawing.html">drawing</a></td>
      <td class="section{% if section == 'painting' %} active-section{% endif %}"><a href="painting.html">painting</a></td>
      <td class="section{% if section == 'sculpture' %} active-section{% endif %}"><a href="sculpture.html">sculpture</a></td>
      <td class="section{% if section == 'about' %} active-section{% endif %}"><a href="about.html">about</a></td>
    </tr>
    {% if section == 'about' %}
    <tr>
      <td class="subsection{% if subsection == 'statement' %} active-section{% endif %}"><a href="about.html">Statement</a></td>
      <td class="subsection{% if subsection == 'events' %} active-section{% endif %}"><a href="events.html">Events</a></td>
      <td class="subsection{% if subsection == 'press' %} active-section{% endif %}"><a href="press.html">Press</a></td>
      <td class="subsection{% if subsection == 'resume' %} active-section{% endif %}"><a href="resume.html">Resume</a></td>
      <td class="subsection{% if subsection == 'contact' %} active-section{% endif %}"><a href="contact.html">Contact</a></td>
    </tr>
    {% endif %}
  </table>
</div>
<br><br>
{% block body -%}{%- endblock body %}
</body>
</html>
